<div id="<%= dom_id event %>">
  <p>
    <strong>Event date:</strong>
    <%= event.event_date %>
  </p>

  <p>
    <strong>Event time:</strong>
    <%= event.event_time %>
  </p>

  <p>
    <strong>Food category:</strong>
    <%= event.food_category %>
  </p>

  <p>
    <strong>Attendee total:</strong>
    <%= event.attendee_total %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= event.notes %>
  </p>

</div>
